

h1{
    color: blue;
    text-align: center;

}

h2{
    color: blue;
    text-align: center;
}

img{
height: 100px;
margin-top: 10px;
margin-left: 700px;
margin-right: 250px;
}
p{
    color: blue;
    font-size: 14;
    font-family: arial;
    position: absolute;
    top: 280px;
    left: 200px;
    width: 1000px;
}

